*,
html {
margin: 0;
padding: 0;
}

.content {}

.NAVIGATOR {
    background-color: rgb(54, 56, 56);
    width: 100%;
    height: 10vh;
}

.ul-NAVIGATOR {
  justify-content: center;
   display: flex;
   height: 100px;
   align-items: center;
}

.li-NAVIGATOR {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  color: white;
  font-size: 30px;
}
.li-NAVIGATOR:hover{
  background-color: rgb(2, 2, 2);
  transition: .5s ease-in-out;
  transition-delay: .3s;
  border-radius: 10px;
}

.a-navbar {
  color: white;
}

.container-content{
  background-color: rgb(64, 64, 64);
  display: flex;
  justify-content:center;
  align-items: center;
  height: 80vh;
}
.a-content {
  width: 720px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.img-content {
  width: 30%;
  height: 30%;
}

.content-footer {
  background-color: rgb(44, 44, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.h1-content {
  font-size: 40px;
  color: azure;
}

.about-test {
    background-color: rgb(56, 68, 68);
    color: azure;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 20px;
}
